In [7]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\smhrd\anaconda3\lib\site-packages (1.0.2)

In [2]:
import pymysql

In [3]:
# 전역변수 선언부
conn, cur = None, None
sql=""

In [4]:
# 메인코드

conn = pymysql.connect(
    host='project-db-stu.ddns.net',
    port=3307,
    user='echo',
    password='119',
    db='echo',
    charset='utf8')

In [5]:
cursor = conn.cursor()

In [7]:
sql = "select * from echo.test1" # 조회
# 삽입 sql = "INSERT INTO test1 (이름, 나이, 국적) VALUE ('영준', 28, '스페인')"
# cursor.execute(query)
# conn.commit()

In [8]:
# 질의문이 담긴 변수를 커서의 실행 메소드에 매개 변수로 전달합니다.
# 다음 라인에 바로 건수가 출력됩니다.
cursor.execute(sql)

7

In [9]:
#커서로부터 모든 행을 가져와서 rows 변수에 저장
result = cursor.fetchall()

# fetchall() 모든 데이터를 한 번에 가져올 때 사용
# fetchone() 한 번 호출에 하나의 행만 가져올 때 사용
# fetchmany(n) n개만큼의 데이터를 가져올 때 사용

In [11]:
print(result)
result[0][1]

(('소현', 25, '영국'), ('시현', 24, '독일'), ('영준', 28, '스페인'), ('정미', 28, '프랑스'), ('지수', 22, '이탈리아'), ('창민', 29, '미국'), ('한글', 31, '태국'))

25

In [12]:
conn.close()

In [80]:
import pandas as pd

result = pd.DataFrame(result)
result

    0   1     2
0  소현  25    영국
1  시현  24    독일
2  영준  28   스페인
3  정미  28   프랑스
4  지수  22  이탈리아
5  창민  29    미국
6  한글  31    태국

In [ ]:
#
data = ('ramen', 1)

# SELECT 
sql = "SELECT * FROM `food` WHERE name = %s AND id = %s;"
cursor.execute(sql, data)

# DELETE
sql = "DELETE FROM `food` WHERE `name` = %s AND `id` = %s;"
cursor.execute(sql, data)
db.commit()